/* 
#admin-sidebar{
    background-color: #f8f9fa;
    border-right: 1px solid #e9ecef;
    height: 100%;
    position: fixed;
    width: 250px;
    z-index: 1;
} */
#admin-sidebar{
    max-height: 200vh; /* Adjust this value based on your needs */
}

.admin-avetar{
    width: 300px;
    margin-bottom: 20px;
    background-color: #e2ecfc; 
    
}

.avatar_items{
    color: black
}
.avatar_items:hover{
    background-color: #d7deeb;
    color: #326dcc;
    border-radius: 10px;
}
.menu-btn-hover:hover {
    background-color: #ececec;
    color: #000;
    border-radius: 10px;
  }
  
#bell_icon{
    font-size: 25px;
}

  .self-alignemt-center{
      display: flex; 
      align-items: center; 
      justify-content: center;
  }
  .md-font-size{
      font-size: 18px;
  }
  
  
  
  .side-bar-bg-color{
      /* background-color: #e2eaf7;  */
      background-color: #F7F9FC; 
      
  }
  
  .btn-font-size{
      font-size: 15px;
  }
  
  .text-lower{
      text-transform: lowercase;
  }
  .text-title{
      text-transform: capitalize;
  }
  
  #add-new-article-btn:hover{
      background-color: #fdfdfd;
  }
  
  /* Side bar btns style start */
  .not_selected_btn{
      background-color: #e2eaf7; 
      color: #42649B;
  }
  .not_selected_btn:hover{
      background-color: #D7DEEB;
      color: #42649B;
  }
  /* Side bar btns style end */
  
  /* side bar  start*/
  /* hide side bar in mobile view and sm screens */
  @media (max-width: 768px) {
      .hide-sidebar{
          display: none;
      }
  }
  @media (max-width: 768px) {
      .hide-sidebar1{
          display: none;
      }
  }

  
  
  .footer {
      margin-top: auto; /* Pushes the footer to the bottom */
  }
  
  
  