#ask_help_icon{
    font-size: 40px;
}

.help-icon{
    font-size: 15px;
    color: #3B71CA;
}
.zero-opicity{
    opacity: 0;
}

.pointer{
    cursor: pointer;
}

.hide_it{
    display: none;
}

/* popover custom */
