{% extends 'admin/layout.html' %}



{% block title %}
Caawinaad Maamulka | Albasrawie
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/dashboard.css')}}" />

{% endblock %}

{% block content %}

<!-- border border-info -->
<section class="container ">
    <!-- {{data}} -->
    <div class="row justify-content-center">
        <!-- border border-danger -->
        <div class="col-xl-8">
            <h1 class="display-6 fs-3">
                Farriimaha

            </h1>

            <!-- ========================  -->
            <div class="container">
                <div class="row border-bottom border-secondary p-1 pb-0 ps-0 " id="pills-tab" role="tablist">
                    <div class="col  d-grid  border-bottom border-2 border-primary message-taps" role="presentation">
                        <button type="button" class="btn  btn-sm shadow-0 text-primary pb-0 active" id="pills-home-tab"
                            onclick="openTab(event, 'Guud')">

                            <h1 class="display-4 fs-5 text-capitalize">
                                Guud <span class="badge text-bg-secondary rounded p-1 bg-info"> <span
                                        class="message-num-text fw-lighter">{%if data.get('help_requests')%}
                                        {{data.get('help_requests')|length}}
                                        {%else%}0{%endif%}</span> </span>
                            </h1>

                        </button>

                    </div>
                    <div class="col  d-grid   message-taps" role="presentation">
                        <button type="button" class="btn  btn-sm shadow-0 pb-0 " id="pills-profile-tab"
                            onclick="openTab(event, 'Cusub')">

                            <h1 class="display-4 fs-5 text-capitalize">
                                Cusub <span class="badge text-bg-secondary rounded p-1 bg-primary"> <span
                                        class="message-num-text fw-lighter">
                                        {{data.get('status_counts').get('pending')}}
                                    </span>

                                </span>
                            </h1>

                        </button>

                    </div>
                    <div class="col  d-grid   message-taps" role="presentation">
                        <button type="button" class="btn  btn-sm shadow-0 pb-0 " id="pills-contact-tab"
                            onclick="openTab(event, 'Caawinaya')">

                            <h1 class="display-4 fs-5 text-capitalize">
                                Caawinaya <span class="badge text-bg-secondary rounded p-1 bg-warning"> <span
                                        class="message-num-text fw-lighter">
                                        {{data.get('status_counts').get('accepted')}}
                                    </span> </span>
                            </h1>

                        </button>

                    </div>
                    <div class="col  d-grid   message-taps" role="presentation">
                        <button type="button" class="btn  btn-sm shadow-0 pb-0 " id="pills-disabled-tab"
                            onclick="openTab(event, 'Caawiyey')">

                            <h1 class="display-4 fs-5 text-capitalize">
                                Caawiyey <span class="badge text-bg-secondary rounded p-1 bg-success"> <span
                                        class="message-num-text fw-lighter">
                                        {{data.get('status_counts').get('helped')}}
                                    </span> </span>
                            </h1>

                        </button>

                    </div>

                </div>
            </div>

            <!-- All requests My content start ================= -->
            <div class="mt-1 rounded">
                <!-- All requests Content for each tab -->
                <div id="Guud" class="tab-content" style="display:block;">
                    <h1 class="display-3 fs-3 mt-3 text-dark fw-normal">Soo dhowoow</h1>
                    <p>Kuwani waa caawinaadaha guud ee ay soo dirsadeen tababbartayaasha. Waxa aynna isugu jiraan kuwa
                        cusub, kuwa la caawiyey iyo kuwa haddan la caawinayo.</p>

                    {%if data.get('help_requests')%}


                    <ul class="container my_accordion">
                        {%for request in data.get('help_requests')%}
                        <!-- if it is pending -->
                        {%if request.get('helping_status') == 'pending'%}
                        <li class="accordion_card_bg rounded rounded-3 ps-2 pt-2 pb-3 mb-3">
                            <input type="radio" name="accordion" id="pending2{{loop.index}}" checked>
                            <label for="pending2{{loop.index}}"
                                class="fs-5 text-dark me-3">#{{request.get('trainee_id')}}
                                {{request.get('trainee_fullname')}}
                                <div class="display-6 fs-6 ps-3 me-3"> ({{request.get('help_type')}})
                                    | {{request.get('topic')}}
                                </div>

                            </label>

                            <div class="content ps-3">
                                <hr class="me-3">
                                <p>
                                    {{request.get('help_description')|safe}}
                                </p>
                            </div>
                        </li>
                        <!-- if it is accepted -->
                        {%elif request.get('helping_status') == 'accepted'%}
                        <li class="accordion_card_bg rounded rounded-3 ps-2 pt-2 pb-3 mb-3">
                            <input type="radio" name="accordion" id="accepted{{loop.index}}" checked>
                            <label for="accepted{{loop.index}}"
                                class="fs-5 text-dark me-3">#{{request.get('trainee_id')}}
                                {{request.get('trainee_fullname')}}
                                <div class="display-6 fs-6 ps-3 me-3">
                                    ({{request.get('help_type')}})
                                    | {{request.get('topic')}}
                                </div>

                            </label>

                            <div class="content ps-3">
                                <hr class="me-3">
                                <p>
                                    {{request.get('help_description')|safe}}
                                </p>
                                <hr class="me-3">
                                <div class="display-1 fs-6 fw-light btn-container">
                                    <span class="material-symbols-outlined text-warning">
                                        pending
                                    </span> Caawiynaya: #{{request.get('helper_id')}} {{request.get('helper_fullname')}}
                                    | {{request.get('helped_date')}}

                                </div>

                            </div>

                        </li>
                        <!-- if it is verified -->
                        {%elif request.get('helping_status') == 'helped'%}
                        <li class="accordion_card_bg rounded rounded-3 ps-2 pt-2 pb-3 mb-3">
                            <input type="radio" name="accordion" id="helped_{{loop.index}}" checked>
                            <label for="helped_{{loop.index}}"
                                class="fs-5 text-dark me-3">#{{request.get('trainee_id')}}
                                {{request.get('trainee_fullname')}}
                                <div class="display-6 fs-6 ps-3 me-3">
                                    ({{request.get('help_type')}})
                                    | {{request.get('topic')}}
                                </div>

                            </label>

                            <div class="content ps-3">
                                <hr class="me-3">
                                <p>
                                    {{request.get('help_description')|safe}}
                                </p>
                                <hr class="me-3">

                                <div class="display-1 fs-6 fw-light btn-container">
                                    <span class="material-symbols-outlined text-success">
                                        verified
                                    </span> Caawiyey: #{{request.get('helper_id')}} {{request.get('helper_fullname')}} |
                                    {{request.get('helped_date')}}

                                </div>

                                <div>
                                    <a href="">
                                        <span class="material-symbols-outlined">
                                            reviews
                                        </span>
                                    </a>
                                </div>

                            </div>


                        </li>

                        {%endif%}
                        {%endfor%}
                    </ul>


                    {%else%}

                    <div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Wax codsi ah ma jiraan wali.</strong> Tababbartayaashu wali wax ma soo
                            codsan.<button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                    </div>

                    {%endif%}

                    <!--  =================================hete -->



                </div>

                <!-- New Requests =======================================================-->

                <div id="Cusub" class="tab-content" style="display:none;">
                    <h1 class="display-3 fs-3 mt-3 text-dark fw-normal">Farriimaha Cusub</h1>
                    <p>Tababbartayaasha hoose waxaa ay u baahan yihiin in la caawiyo. Caawinaaddooda waxaa ay
                        kordhinaysaa waxqabadkooda.</p>

                    {%if data.get('help_requests')%}


                    <ul class="container my_accordion">
                        {%for request in data.get('help_requests')%}
                        <!-- if it is helped -->
                        {%if request.get('helping_status') == 'pending'%}
                        <li class="accordion_card_bg rounded rounded-3 ps-2 pt-2 pb-3 mb-3">
                            <input type="radio" name="accordion" id="pending_one{{loop.index}}" checked>
                            <label for="pending_one{{loop.index}}"
                                class="fs-5 text-dark me-3">#{{request.get('trainee_id')}}
                                {{request.get('trainee_fullname')}}
                                <div class="display-6 fs-6 ps-3 me-3"> ({{request.get('help_type')}})
                                    | {{request.get('topic')}}
                                </div>

                            </label>

                            <div class="content ps-3">
                                <hr class="me-3">
                                <p>
                                    {{request.get('help_description')|safe}}
                                </p>
                            </div>
                        </li>

                        {%endif%}
                        {%endfor%}
                    </ul>


                    {%else%}

                    <div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Wali dad lama caawin.</strong> Tababbartayaashu ma jiro qof ilaa hadda la
                            caawiyey!.<button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                    </div>

                    {%endif%}

                    <!--  =================================hete -->

                </div>


                <!-- being Helped =====================================-->

                <div id="Caawinaya" class="tab-content" style="display:none;">
                    <h1 class="display-3 fs-3 mt-3 text-dark fw-normal">Kuwani waa la caawinayaa</h1>
                    <p>Tababbartayaasha hoose waa kuwa hadda la caawinayo waxaa loo rajaynayaa in ay soo kabsadaan.</p>
                    {%if data.get('help_requests')%}


                    <ul class="container my_accordion">
                        {%for request in data.get('help_requests')%}
                        <!-- if it is pending -->
                        {%if request.get('helping_status') == 'accepted'%}
                        <li class="accordion_card_bg rounded rounded-3 ps-2 pt-2 pb-3 mb-3">
                            <input type="radio" name="accordion" id="accepted2{{loop.index}}" checked>
                            <label for="accepted2{{loop.index}}"
                                class="fs-5 text-dark me-3">#{{request.get('trainee_id')}}
                                {{request.get('trainee_fullname')}}
                                <div class="display-6 fs-6 ps-3 me-3">
                                    ({{request.get('help_type')}})
                                    | {{request.get('topic')}}
                                </div>

                            </label>

                            <div class="content ps-3">
                                <hr class="me-3">
                                <p>
                                    {{request.get('help_description')|safe}}
                                </p>
                                <hr class="me-3">
                                <div class="display-1 fs-6 fw-light btn-container">
                                    <span class="material-symbols-outlined text-warning">
                                        pending
                                    </span> Caawiynaya: #{{request.get('helper_id')}} {{request.get('helper_fullname')}}
                                    <!-- | {{request.get('helped_date')}} -->

                                </div>

                            </div>

                        </li>

                        {%endif%}
                        {%endfor%}
                    </ul>


                    {%else%}

                    <div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Ma jiro tababbarte la caawinayo.</strong> Tababbartayaashu codigooda wali lama
                            oggolaaanin ama iyaga xitaa codsi ma soo dirsan!.<button type="button" class="btn-close"
                                data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>

                    {%endif%}

                    <!--  =================================hete -->
                </div>

                <!-- Helped =====================================-->

                <div id="Caawiyey" class="tab-content" style="display:none;">
                    <h1 class="display-3 fs-3 mt-3 text-dark fw-normal">Guul, waa la caawiyey</h1>
                    <p>Waxaa aynnu, dhab haan, caddaynaynaa sidoo kalan aan xoojinaynaa caawinaadda ka dhaxaysa
                        bartayaasha dhexdooda.</p>
                    <!-- if it is helped -->
                    {%if data.get('help_requests')%}
                    <ul class="container my_accordion">
                        {%for request in data.get('help_requests')%}
                        {%if request.get('helping_status') == 'helped'%}
                        <li class="accordion_card_bg rounded rounded-3 ps-2 pt-2 pb-3 mb-3">
                            <input type="radio" name="accordion" id="helped_2{{loop.index}}" checked>
                            <label for="helped_2{{loop.index}}"
                                class="fs-5 text-dark me-3">#{{request.get('trainee_id')}}
                                {{request.get('trainee_fullname')}}
                                <div class="display-6 fs-6 ps-3 me-3">
                                    ({{request.get('help_type')}})
                                    | {{request.get('topic')}}
                                </div>

                            </label>

                            <div class="content ps-3">
                                <hr class="me-3">
                                <p>
                                    {{request.get('help_description')|safe}}
                                </p>
                                <hr class="me-3">

                                <div class="display-1 fs-6 fw-light btn-container">
                                    <span class="material-symbols-outlined text-success">
                                        verified
                                    </span> Caawiyey: #{{request.get('helper_id')}} {{request.get('helper_fullname')}} |
                                    {{request.get('helped_date')}}

                                </div>

                                <!-- <div>
                                    <a href="">
                                        <span class="material-symbols-outlined">
                                            reviews
                                        </span>
                                    </a>
                                </div> -->

                            </div>

                        </li>
                        {%endif%}
                        {%endfor%}

                    </ul>
                    {%else%}

                    <div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Ma jiro tababbarte la caawiyey.</strong> Lama helayo ilaa hadda tababbarte la
                            caawiyey. Ama iyaga ayaanu wax codsi ah soo diran ama tababbaryaasha ayaan ka
                            gaabiyeen.<button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                    </div>
                    {%endif%}
                </div>

            <!-- My content end ====================-->


        </div>

    </div>

</section>


{% endblock %}

{% block custom_js %}
<script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
{% endblock %}