{% extends 'public/layout.html' %}



{% block title %}
Caawinaad Dalbo | Albasrawie
{% endblock %}

<!-- custom spinner page loader -->
{% block custom_css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/ask_help.css')}}" />

{% endblock %}

{% block content %}
<h1 class="display-5 fw-normal">
    Dalbo <span class="display-6">Caawinaad</span>
    <span id="ask_help_icon" class="material-symbols-outlined text-primary">
        person_raised_hand
    </span>
</h1>


<!-- Info gathering -->

<div class="mt-3">
    <h3 class="display-5 fs-4">
        Afkaaga ku cad gooso
    </h3>

    <h5 class="display-6 fs-6">
        Tababbarte, ujeedada caawinaadaan laguugu fidinayo waa inaadan sina uga harin tababbarka
        saaxiibadaa
        kula ayniga ah. Hoose si qumman
        faahfaahsan oo la fahmi karo ugu qor wixii aad u baahan tahay in laguugu caawiyo (tus:
        cashar,
        waxqabad, haddii uu <strong>code</strong> qalad (<span class="text-danger">error</span>) kaaga jiro iyo wixii la
        maid ah). Waxaa, dhab ahaan, diyaarsan saaxiibo iyo hagayaal gacan kuu fidinayo. Wax kasto soo dalbo <strong>ha
            waawan
            tababbarte </strong>.
    </h5>

    <div class="row mt-4">

        <div class="mb-2">

        <div class="ms-1 me-2 border badge-danger border-danger ps-2 pe-2 rounded pt-1 pb-1 hide_it" id="ask_help_error_message_container">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
              </svg>
            </span>
            <span id="ask_help_error_message" class="ms-1">
                
            </span>
        </div>
        <div class="ms-1 me-2 border badge-success border-success ps-2 pe-2 rounded pt-1 pb-1 hide_it" id="ask_help_success_message_container">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                    <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0"/>
                    <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                  </svg>
            </span>
            <span id="ask_help_success_message" class="ms-1">
                
            </span>
        </div>
            
        </div>

        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 mb-3">
            <div class=" text-end zero-opicity">
                <span class="material-symbols-outlined help-icon">
                    help
                </span>
            </div>
            <input class="form-control form-control-lg" type="text" placeholder="Magacaaga saddexan"
                aria-label=".form-control-lg example" id="full_name">
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
            <div class=" text-end ">
                <span class="material-symbols-outlined help-icon pointer" data-bs-toggle="popover"
                    data-bs-placement="right" data-bs-custom-class="custom-popover"
                    data-bs-content="Gali lambarkaaga WhatsApp-ka caawiyaha ayaa durba kaagala soo xiriirayo.">
                    help
                </span>
            </div>
            <input class="form-control form-control-lg" type="text" placeholder="Lambarkaaga"
                aria-label=".form-control-lg example" id="phone_number">

        </div>
        <!-- data-bs-title="Custom popover" -->
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
            <div class=" text-end">
                <span class="material-symbols-outlined help-icon pointer" data-bs-toggle="popover"
                    data-bs-placement="right" data-bs-custom-class="custom-popover1"
                    data-bs-content="Gali lambarka aqoonsiga ee tababbarka Albasrawie">
                    help
                </span>
            </div>
            <input class="form-control form-control-lg" type="text" placeholder="Aqoonsi"
                aria-label=".form-control-lg example" id="trainee_id">

        </div>
        <!-- data-bs-title="Custom popover" -->
        <div class="col">
            <div class=" text-end">
                <span class="material-symbols-outlined help-icon pointer" data-bs-toggle="popover"
                    data-bs-placement="right" data-bs-custom-class="custom-popover1"
                    data-bs-content="Waxaad doorataa qeybtii laguugu caawinayo haddii ay noqoto cashar, waxqabad">
                    help
                </span>
            </div>
            <select class="form-select form-select-lg rounded " aria-label="Default select example" id="help_type">
                <option selected>Dooro qeybta</option>
                <option value="Cashar">Cashar</option>
                <option value="Waxqabad">Waxqabad</option>
            </select>
        </div>

    </div>


</div>

<hr>

<!-- Write about what you need section -->

<div class="col-sm-12  col-lg-8 col-xl-6 mb-3">
    <div class=" text-end">
        <span class="material-symbols-outlined help-icon pointer" data-bs-toggle="popover" data-bs-placement="right"
            data-bs-custom-class="custom-popover1"
            data-bs-content="Waxaad qortaa cinwaan cayiman ama waxqabad oo aad doonaysid in laguugu caawiyo (Tus: For loop ha laygu celiyo ama waxqabad hebel ha laygala shaqeeyo. iwm)">
            help
        </span>
    </div>
    <input class="form-control form-control-lg" type="text" placeholder="Qor cinwaanka aad rabtid in laguugu caawiyo..."
        aria-label=".form-control-lg example" id="help_topic">
</div>

<div class="mt-2">
    <textarea class="form-control" id="help_decs" rows="4" name="article"
        placeholder="Qor faahfaahinta waxa laguugu caawinayo..." style="resize: none;" oninput="limitTextarea(event)" >
    </textarea>
    <div>
        <span class="text-muted" id="chars">0</span>/500
    </div>
    <!-- <div class="">
        <input class="form-control form-control-lg" type="text" placeholder="textareachars"
                aria-label=".form-control-lg example" id="help_decs_chars">
    </div> -->
</div>



<div class="mt-3 mb-3 footer text-end" id="ask_help_btn">
    <button type="button" class="btn btn-primary btn-rounded btn-font-size" data-mdb-ripple-init onclick="ask_help('ask_help_btn', 'asking_help_btn')" >
        D<span class="text-lowercase">irso caawinaad</span>
    </button>
</div>
<div class="mt-3 mb-3 footer text-end hide_it" id="asking_help_btn">
    <button class="btn btn-primary btn-rounded " type="button" disabled >
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span class="visually-hidden" role="status">Loading...</span>
    </button>
</div>

{% endblock %}




{% block custom_js %}
<script src="{{url_for('static', filename='js/ask_help.js')}}"></script>
<!-- <script>
    tinymce.init({
        selector: 'textarea#help_decs1',
        spellchecker_dialog: false, // Disable the spellchecker dialog
        browser_spellcheck: false, // Disable the browser's built-in spellchecker
        // width : 600,
        height: 300,
        plugins: [
            'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
            'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
            'media', 'table', 'emoticons', 'template', 'help'
        ],
        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
            'forecolor backcolor emoticons | help',
        menu: {
            favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
        },
        menubar: 'favs file edit view insert format tools table help',
        content_css: 'css/content.css'
    });
</script> -->
<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
          selector: 'textarea#help_decs',
          plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
      </script>
      <!-- <textarea>
        Welcome to TinyMCE!
      </textarea> -->
{% endblock %}
